.filter {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.filter-container select{
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}