.filter {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: .6rem;
}
.filter-container select{
    padding: .3rem;
    border: 1px solid #a09d9d;
       width: 100%;
    color:  #47424e;
}

.filter-container select:focus{
    outline: none;
    border-color: black;
}